# Google Service Info
GoogleService-Info.plist

# Xcode
DerivedData/
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.xcarchive

# App Bundles
*.ipa
*.app

# Debugging
*.dSYM.zip
*.dSYM

# Playground
timeline.xctimeline
playground.xcworkspace

# Misc
*.swp
*.lock
.DS_Store
.idea/
.vscode/

